In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('laguardia_gsod_all_years.csv')
df

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT,YEAR
0,72503014732,1973-01-01,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",54.1,24,44.3,24,...,22.0,57.2,*,50.0,*,0.08,G,999.9,110000,1973
1,72503014732,1973-01-02,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",40.8,24,22.5,24,...,28.0,48.9,*,33.8,*,0.00,G,999.9,0,1973
2,72503014732,1973-01-03,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",32.4,23,17.6,23,...,999.9,35.6,*,30.0,*,1.38,G,999.9,0,1973
3,72503014732,1973-01-04,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",40.6,23,35.0,23,...,30.9,48.2,*,33.8,*,0.51,G,999.9,111000,1973
4,72503014732,1973-01-05,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",40.5,23,28.4,23,...,22.9,45.0,*,37.4,*,1.65,G,999.9,0,1973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,72503014732,2025-04-25,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",68.1,24,42.8,24,...,26.0,75.0,,53.1,,0.00,G,999.9,0,2025
19108,72503014732,2025-04-26,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",64.6,24,57.3,24,...,49.0,75.0,,59.0,,0.10,G,999.9,10010,2025
19109,72503014732,2025-04-27,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",55.6,24,35.2,24,...,38.1,73.9,,50.0,,0.48,G,999.9,10010,2025
19110,72503014732,2025-04-28,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",63.3,24,29.3,24,...,21.0,75.9,*,54.0,*,0.00,G,999.9,0,2025
19111,72503014732,2025-04-29,40.77945,-73.88027,3.0,"LAGUARDIA AIRPORT, NY US",62.8,6,32.0,6,...,17.1,64.0,*,61.0,*,0.00,G,999.9,0,2025

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19112 entries, 0 to 19111
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATION           19112 non-null  int64
 1   DATE              19112 non-null  object
 2   LATITUDE          19112 non-null  float64
 3   LONGITUDE         19112 non-null  float64
 4   ELEVATION         19112 non-null  float64
 5   NAME              19112 non-null  object
 6   TEMP              19112 non-null  float64
 7   TEMP_ATTRIBUTES   19112 non-null  int64
 8   DEWP              19112 non-null  float64
 9   DEWP_ATTRIBUTES   19112 non-null  int64
 10  SLP               19112 non-null  float64
 11  SLP_ATTRIBUTES    19112 non-null  int64
 12  STP               19112 non-null  float64
 13  STP_ATTRIBUTES    19112 non-null  int64
 14  VISIB             19112 non-null  float64
 15  VISIB_ATTRIBUTES  19112 non-null  int64
 16  WDSP              19112 non-null  float64
 17  WDSP_ATTRIBUTES   19112 non-null  int64
 18  MXSPD             19112 non-null  float64
 19  GUST              19112 non-null  float64
 20  MAX               19112 non-null  float64
 21  MAX_ATTRIBUTES    19112 non-null  object
 22  MIN               19112 non-null  float64
 23  MIN_ATTRIBUTES    19112 non-null  object
 24  PRCP              19112 non-null  float64
 25  PRCP_ATTRIBUTES   19112 non-null  object
 26  SNDP              19112 non-null  float64
 27  FRSHTT            19112 non-null  int64
 28  YEAR              19112 non-null  int64
dtypes: float64(15), int64(9), object(5)
memory usage: 4.2+ MB

In [4]:
df_final = df.drop(columns=['STATION', 'LATITUDE','LONGITUDE','ELEVATION','NAME'])
df_final

,DATE,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,SLP,SLP_ATTRIBUTES,STP,STP_ATTRIBUTES,VISIB,...,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT,YEAR
0,1973-01-01,54.1,24,44.3,24,1016.3,24,15.3,24,9.3,...,22.0,57.2,*,50.0,*,0.08,G,999.9,110000,1973
1,1973-01-02,40.8,24,22.5,24,1020.5,24,19.5,24,14.9,...,28.0,48.9,*,33.8,*,0.00,G,999.9,0,1973
2,1973-01-03,32.4,23,17.6,23,1032.2,23,31.2,23,12.9,...,999.9,35.6,*,30.0,*,1.38,G,999.9,0,1973
3,1973-01-04,40.6,23,35.0,23,1017.8,23,16.8,23,5.9,...,30.9,48.2,*,33.8,*,0.51,G,999.9,111000,1973
4,1973-01-05,40.5,23,28.4,23,1012.4,23,11.4,23,13.4,...,22.9,45.0,*,37.4,*,1.65,G,999.9,0,1973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,2025-04-25,68.1,24,42.8,24,1022.5,24,21.4,24,10.0,...,26.0,75.0,,53.1,,0.00,G,999.9,0,2025
19108,2025-04-26,64.6,24,57.3,24,1011.8,18,10.6,24,10.0,...,49.0,75.0,,59.0,,0.10,G,999.9,10010,2025
19109,2025-04-27,55.6,24,35.2,24,1012.4,24,11.4,24,9.9,...,38.1,73.9,,50.0,,0.48,G,999.9,10010,2025
19110,2025-04-28,63.3,24,29.3,24,1023.4,24,22.4,24,10.0,...,21.0,75.9,*,54.0,*,0.00,G,999.9,0,2025
19111,2025-04-29,62.8,6,32.0,6,1024.1,6,23.1,6,10.0,...,17.1,64.0,*,61.0,*,0.00,G,999.9,0,2025

## Column Descriptions
- All data is from LaGuardia Airport in NYC.
- **`DATE`**: Date of the record (MM/DD/YYYY)
- **`TEMP`**: Mean daily temperature (°F, tenths). `9999.9` = missing
- **`TEMP_ATTRIBUTES`**: Number of observations used for TEMP
- **`DEWP`**: Mean daily dew point (°F, tenths). `9999.9` = missing
- **`DEWP_ATTRIBUTES`**: Number of observations used for DEWP
- **`SLP`**: Mean sea level pressure (mb, tenths). `9999.9` = missing
- **`SLP_ATTRIBUTES`**: Number of observations used for SLP
- **`STP`**: Mean station pressure (mb, tenths). `9999.9` = missing
- **`STP_ATTRIBUTES`**: Number of observations used for STP
- **`VISIB`**: Mean visibility (miles, tenths)
- **`VISIB_ATTRIBUTES`**: Number of observations used for VISIB
- **`WDSP`**: Mean wind speed (knots, tenths)
- **`WDSP_ATTRIBUTES`**: Number of observations used for WDSP
- **`MXSPD`**: Max sustained wind speed (knots, tenths)
- **`GUST`**: Max wind gust (knots, tenths)
- **`MAX`**: Max daily temperature (°F, tenths). `9999.9` = missing
- **`MAX_ATTRIBUTES`**: Blank = from max report, `*` = from hourly/synoptic data
- **`MIN`**: Min daily temperature (°F, tenths). `9999.9` = missing
- **`MIN_ATTRIBUTES`**: Blank = from min report, `*` = from hourly/synoptic data
- **`PRCP`**: Precipitation (inches, hundredths). `99.99` = missing
- **`PRCP_ATTRIBUTES`**: Letter codes indicating reporting method (e.g., A = 1 report of 6-hour PRCP)
- **`SNDP`**: Snow depth (inches, tenths). `999.9` = missing
- **`FRSHTT`**: 6-digit weather event indicator:
  - 1st = Fog
  - 2nd = Rain/Drizzle
  - 3rd = Snow/Ice Pellets
  - 4th = Hail
  - 5th = Thunder
  - 6th = Tornado/Funnel Cloud

In [5]:
# addtl time features
df_final['DATE'] = pd.to_datetime(df_final['DATE'], errors='coerce')

df_final['Month'] = df_final['DATE'].dt.month
df_final['Season'] = df_final['DATE'].dt.month % 12 // 3 + 1  # Winter = 1, Spring = 2, Summer = 3, Fall = 4

season_map = {
    1: 'Winter',
    2: 'Spring',
    3: 'Summer',
    4: 'Fall'
}
df_final['Season_Label'] = df_final['Season'].map(season_map)

df_final.drop(columns=['Season'], inplace=True)
df_final.rename(columns={'Season_Label': 'Season'}, inplace=True)

In [6]:
df_final

,DATE,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,SLP,SLP_ATTRIBUTES,STP,STP_ATTRIBUTES,VISIB,...,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT,YEAR,Month,Season
0,1973-01-01,54.1,24,44.3,24,1016.3,24,15.3,24,9.3,...,*,50.0,*,0.08,G,999.9,110000,1973,1,Winter
1,1973-01-02,40.8,24,22.5,24,1020.5,24,19.5,24,14.9,...,*,33.8,*,0.00,G,999.9,0,1973,1,Winter
2,1973-01-03,32.4,23,17.6,23,1032.2,23,31.2,23,12.9,...,*,30.0,*,1.38,G,999.9,0,1973,1,Winter
3,1973-01-04,40.6,23,35.0,23,1017.8,23,16.8,23,5.9,...,*,33.8,*,0.51,G,999.9,111000,1973,1,Winter
4,1973-01-05,40.5,23,28.4,23,1012.4,23,11.4,23,13.4,...,*,37.4,*,1.65,G,999.9,0,1973,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,2025-04-25,68.1,24,42.8,24,1022.5,24,21.4,24,10.0,...,,53.1,,0.00,G,999.9,0,2025,4,Spring
19108,2025-04-26,64.6,24,57.3,24,1011.8,18,10.6,24,10.0,...,,59.0,,0.10,G,999.9,10010,2025,4,Spring
19109,2025-04-27,55.6,24,35.2,24,1012.4,24,11.4,24,9.9,...,,50.0,,0.48,G,999.9,10010,2025,4,Spring
19110,2025-04-28,63.3,24,29.3,24,1023.4,24,22.4,24,10.0,...,*,54.0,*,0.00,G,999.9,0,2025,4,Spring
19111,2025-04-29,62.8,6,32.0,6,1024.1,6,23.1,6,10.0,...,*,61.0,*,0.00,G,999.9,0,2025,4,Spring

In [7]:
import numpy as np

missing_replacements = {
    'TEMP': 9999.9,
    'DEWP': 9999.9,
    'SLP': 9999.9,
    'STP': 9999.9,
    'VISIB': 999.9,
    'WDSP': 999.9,
    'MXSPD': 999.0,
    'GUST': 999.9,
    'MAX': 9999.9,
    'MIN': 9999.9,
    'PRCP': 99.99,
    'SNDP': 999.9
}

df_final.replace(missing_replacements, np.nan, inplace=True)

In [8]:
# Save DataFrame to CSV
df_final.to_csv('df_final.csv', index=False)